
/* class selector는 .클래스명으로 선택 */
/* 2개 이상의 클래스가 있는경우 .클래스명.클래스명2.클래스명3 식으로 선택한다. */

/* class 어트리뷰트 값이 text-center인 모든 요소를 선택 */
.text-center { text-align: center; }
/* class 어트리뷰트 값이 text-large인 모든 요소를 선택 */
.text-large  { font-size: 200%; }
/* class 어트리뷰트 값이 text-red인 모든 요소를 선택 */
.text-red    { color: red; }
/* class 어트리뷰트 값이 text-blue인 모든 요소를 선택 */
.text-blue   { color: blue; }


/* 어트리뷰트 셀렉터 */
/* 셀렉터[어트리뷰트] */

a[href] {
    color: red;
}

/* 어트리뷰트="값" 어트리뷰트 값이 정확히 일치하는 태그 선택 */
a[target="_blank"] {
    color: green;
}

/* 어트리뷰트~="값" 어트리뷰트 값 앞에 공백이 같이 있는 경우*/
h1[title~="first"] {
    color: red;
}

/* 셀렉터[어트리뷰트|=”값”]	지정된 어트리뷰트의 값과 일치하거나 지정 어트리뷰트 값 뒤 연이은 하이픈(“값-“)으로 시작하는 요소를 선택한다. */
/* p 요소 중에 lang 어트리뷰트 값이 "en"과 일치하거나 "en-"로 시작하는 요소 */
p[lang|="en"] {
    color: red;
}

/* 셀렉터[어트리뷰트^=”값”]	지정된 어트리뷰트 값으로 시작하는 요소를 선택한다. */
/* a 요소 중에 href 어트리뷰트 값이 "https://"로 시작하는 요소 */
a[href^="https://"] {
    color: green;
}

a[href] {
    color: black;
}

/* 셀렉터[어트리뷰트$=”값”]	지정된 어트리뷰트 값으로 끝나는 요소를 선택한다. */
a[href$="jsp"] {
    font-size: 40px;
}

/* 셀렉터[어트리뷰트*=”값”]	지정된 어트리뷰트 값을 포함하는 요소를 선택한다. */
div[class*="test"] {
    color: blue;
}

