
/* 가상 클래스 셀렉터 (Pseudo-Class Selector) */

a:hover {
    background-color: yellow;
}

/* input:focus {
    background-color: red;
} */

/* 링크 셀렉터(Link pseudo-classes), 동적 셀렉터(User action pseudo-classes) */
/* :link, :visited, :hover, :active, :focus */

a:link {
    color: orange;
}

a:visited {
    color: green;
}

a:hover {
    font-weight: bold;
}

a:active {
    color: blue;
    font-size: 40px;
}

input[type="text"]:focus
 {
    color: red;
}

input[type="password"]:focus {
    background-color: aqua;
}

/* UI 요소 상태 셀렉터(UI element states pseudo-classes) */
/* :checked, :enabled, :disabled  */

input:enabled + span{
    color: blue;
}

input:disabled + span{
    color: gray;
    text-decoration:line-through;
}

input:checked + span{
    color: red;
}

/* 구조 가상 클래스 셀렉터(Structural pseudo-classes) */

#firstchild p:first-child {
    color: brown;
}

#firstchild p:last-child { 
    background-color: blue;
 }

 /* <h2>:nth-child(n)</h2> */
/* <p>:nth-child(n)	셀렉터에 해당하는 모든 요소 중 앞에서 n번째 자식인 요소를 선택한다.</p> */
/* :nth-last-child(n)	셀렉터에 해당하는 모든 요소 중 뒤에서 n번째 자식인 요소를 선택한다. */

#nthchild ol > li:nth-child(2n) {
    color: orange;
}

#nthchild ol > li:first-child {
    color: red;
}

#nthchild ol > li:last-child {
    color: green;
}

#nthchild ol > li:nth-child(4) { 
    background: brown; 
}

#nthchild ul > :nth-last-child(2n+1) {
     color: red; 
    }

#nthchild ul > :nth-last-child(2n) {
     color: blue; 
    }

/* <h2>:first-of-type, :last-of-type, :nth-of-type(n), :nth-last-of-type(n)</h2>  */

#typeof p:first-of-type {
    color: red;
}

#typeof p:last-of-type {
    color: blue;
}


#typeof p:nth-of-type(2) {
    color: green;
}

#typeof p:nth-last-of-type(2) {
    color: orange;
}

/* <h2>부정 셀렉터(Negation pseudo-class)</h2> */
/* :not(셀렉터)	셀렉터에 해당하지 않는 모든 요소를 선택한다. */
#not input:not([type="password"]) {
    background-color: yellow;
}

/* <h2>정합성 체크 셀렉터(validity pseudo-class)</h2> */
/* <p>:valid(셀렉터)	정합성 검증이 성공한 input 요소 또는 form 요소를 선택한다.</p> */
/* <p>:invalid(셀렉터)	정합성 검증이 실패한 input 요소 또는 form 요소를 선택한다.</p> */

#valid input[type="text"]:valid {
    background-color: greenyellow;
    color: black;
}

#valid input[type="text"]:invalid {
    background-color: red;
    color: black;
}


/* 가상 요소 셀렉터 (Pseudo-Element Selector) */
/* <p>::first-letter	콘텐츠의 첫글자를 선택한다.</p> */
/* <p>::first-line	콘텐츠의 첫줄을 선택한다. 블록 요소에만 적용할 수 있다.</p> */
/* <p>::after	콘텐츠의 뒤에 위치하는 공간을 선택한다. 일반적으로 content 프로퍼티와 함께 사용된다.</p> */
/* <p>::before	콘텐츠의 앞에 위치하는 공간을 선택한다. 일반적으로 content 프로퍼티와 함께 사용된다.</p> */
/* <p>::selection	드래그한 콘텐츠를 선택한다. iOS Safari 등 일부 브라우저에서 동작 않는다.</p> */

#paseudo p::first-letter {
    font-size: 3em;
}

#paseudo p::first-line {
    color: red;
}

#paseudo h1::before {
      content: " HTML!!! ";
      color: blue;
    }

#paseudo h1::after {
      content: " CSS3!!!";
      color: red;
    }

#paseudo ::selection {
      color: red;
      background: yellow;
    }