/* 너비와 높이 지정하기 */
/* width, height */
/* px: 너빗값과 높잇값을 px 단위로 지정 */
/* %: 부모 태그를 기준으로 너빗값과 높잇값을 비율로 지정 */
/* vw: 웹브라우저의 너비를 기준으로 너빗값과 높잇값을 비율로 지정 */
/* vh: 웹브라우저의 높이를 기준으로 너빗값과 높잇값을 비율로 지정 */

#width_height article {
    border: 1px solid red;
}
#width_height {
    border: 1px solid blue;
}
.width_height {
    border: 1px solid brown;
}

#width_height article:nth-of-type(1) {
    width: 100px;
    height: 100px;
}
#width_height article:nth-of-type(2) {
    width: 20%;
    height: 20%;
}
#width_height article:nth-of-type(3) {
    width: 10vw;
    height: 10vh;
}
#width_height article:nth-of-type(4) {
    width: 20vw;
    height: 20vh;
}

/* 바깥쪽 여백 지정하기 margin */
#margin {
    border: 1px solid red
}
#margin div {
    width: 50px;
    height: 30px;
    border: 1px solid blue;
}
#margin div:nth-child(1) {
    /* 박스의 상하좌우에 모두 적용 */
    margin: 20px;
}
#margin div:nth-child(2) {
    /* 상하 20px, 좌우 50px 적용 */
    margin: 20px 50px;
}
#margin div:nth-child(3) {
    /* 상하 20px, 좌우 자동(박스 중앙정렬) */
    margin: 20px auto;
}
#margin div:nth-child(4) {
    /* 위 20px, 좌우 자동(박스 중앙정렬), 아래 40px */
    margin: 20px auto 40px;
}
#margin div:nth-child(5) {
    /* 모든 방향 다르게 줄 때: 상, 우, 하, 좌 */
    margin: 0px 10px 20px 30px;
}
/* margin-방향 */
#margin div:nth-child(6) {
    margin-top: 20px;
}
#margin div:nth-child(7) {
    margin-bottom: 20px;
}
#margin div:nth-child(8) {
    margin-left: 20px;
}
#margin div:nth-child(9) {
    margin-right: 20px;
}

/* 안쪽 여백 비정하기 padding */
#padding {
    border: 1px solid red
}
#padding div{
    width: 100px;
    height: 100px;
    border: 1px solid blue
}

#padding div:first-child {
    padding: 0px;
    margin: 20px;
}
#padding div:last-child {
    padding: 30px;
    margin: 20px;
}

/* 안쪽 여백 비정하기 padding2 */
#padding2 {
    border: 1px solid red
}
#padding2 div:nth-child(1) {
    width: 40px;
    height: 40px;
    border: 1px solid blue
}
#padding2 div:nth-child(2) {
    width: 100px;
    height: 100px;
    border: 1px solid blue
}

#padding2 div:first-child {
    padding: 30px;
    margin: 20px;
}
#padding2 div:last-child {
    padding: 30px;
    box-sizing: border-box;
    margin: 20px;
}

/* 테두리 형태 지정하기 border */
#line_type {
    border: 1px solid red;
}
#line_type div {
    width: 300px;
    height: 200px;
    margin: 50px;
    border: 1px solid blue;
}
#line_type div:nth-child(1) {
    border-width: 2px;
    border-style: solid;
    border-color: red;
}
#line_type div:nth-child(2) {
    border-width: 10px;
    border-style: dashed;
    border-color: rgb(20,50,60);
}
#line_type div:nth-child(3) {
    border-width: 10px;
    border-style: dotted;
    border-color: rgba(20,50,255,0.7);
}
#line_type div:nth-child(4) {
    border: 10px double orange;
}