/* flex box layout*/
/* 1차원 방식(가로,세로)으로 레이아웃 설계하는 방식
   블록요소 자유롭게 정렬하기 위해서 만들어짐 */

   .flex-container {
    width: 100%;
    height: 100vh;
    /* width: 410px */
    /* height: 800px */
    background-color: gray;
    border: 1px solid black;
    display: flex;

    /* 요소의 방향 flex-direction row 가 기본*/
    /* flex-direction: row-reverse; 역순 */
    /* flex-direction: column; */
    /* flex-direction: column-reverse 컬럼 역순 방향; */

    /* 제한된 영역을 넘었을때 줄바꿈 */ 
    flex-wrap: wrap;

    /* 가로 방향(X축) 아이템정렬 flex-start 기본값 */
    /* justify-content: flex-start; 왼쪽정렬*/
    /* justify-content: flex-end; 오른쪽정렬 */
    /* justify-content: content; 가운데정렬*/
    /* justify-content: space-between; 요소 여백 맞추기*/
    /* justify-content: space-around; 박스 여백 맞추기 */
    /* justify-content: space-evenly; 모든 여백 맞추기 */  

    /* 세로 방향(Y축) 아이템정렬 stretch 기본값 */
    /* align-items: stretch; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: content; */
    /* align-items: baseline; */

    /* wrap이 되어 2줄 이상 있을때 */
    /* align-content: flex-start; */
    /* align-content: flex-end; */
    /*align-content: center; */
    /* align-content: first-baseline; */
    /* align-content: last-baseline;*/ 

   }

   .flex-item {
    width: 100px;
    height: 100px;
    color: white;
    background-color: brown;
    border: 1px solid white;
   }

   .flex-item:nth-child(2n) {
    background-color: blue;
   }

   .flex-item:nth-child(1) {
    align-self: flex-end;

   }
   .flex-item:nth-child(2) {
    align-self: center;
 
   }
   .flex-item:nth-child(3) {
    align-self: self-end;
  
   }
    .flex-item:nth-child(10) {
    align-self: center;

   }

   .flex-item:nth-child(2n+1) {
    align-self: self-end;
   }